# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
server/.next/
coverage
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gradle-home/
.gradle-user-home/
.gradle-project-cache/
# Playwright artifacts
playwright-report/
test-results/
blob-report/
e2e/results/
e2e/.auth/
Microsoft/
node_modules/
.next
img/demo-videos/
server-ts/.next/
server/.next
server-spring-kotlin/build/
server-spring-kotlin/.gradle/
/server-spring-kotlin/build/
mobile/node_modules/
.env
.env.local
.webm
.zip
/coverage/
trace/
/data/
dashboard-metrics.json
.gradle/
.kotlin/
.idea/
build/
playwright-report-frontend-edge/
playwright-report-frontend-chromium/
unit-tests-backend/
e2e-junit-api/
latest-scan.json
dates.json
history/*.json
unit-tests-web/*.json
