BASE_URI=http://127.0.0.1:3001
BASE_PATH=/api

E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
SEED_ADMIN_EMAIL=admin@tester.com
SEED_ADMIN_PASSWORD=

E2E_SUPPORT_EMAIL=
E2E_SUPPORT_PASSWORD=
SEED_SUPPORT_EMAIL=suporte@tester.com
SEED_SUPPORT_PASSWORD=suporte2026@QA
